body {
    background-color:antiquewhite;
    
}
p{
    color:green;
    font-size: 25px;
}

hr {
    border-style: dotted none none none;
    border-width: 5px;
    width:5%;
    color:#97C4B8;
}